.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.main {
    margin-top: 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}
.container-exercises {
    width: 100%;
}