.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.main-area {
    position: relative;
    min-width: 40%;
}
  
  .main {
    background-image: url('https://wallpapercave.com/wp/wp2639543.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
  }