<header>
  <nav>
    <div>
      <img ngSrc="/assets/images/logo.png" class="logo" alt="logo" width="102" height="58"/>
    </div>
    <span id="app-name" style="font-family: cursive;">MeFIT</span>
    <div class="spacer"></div>
    <ul>
      <li *ngIf="!tokenSaved()"><a routerLink="" routerLinkActive="active" class="home">Home</a></li>
      <li><a routerLink="dashboard" routerLinkActive="active" class="dashboard">Dashboard</a></li>
      <li><a routerLink="fitness-content" routerLinkActive="active" class="fitness-content">Fitness Content</a></li>
      <li><a routerLink="profile" routerLinkActive="active" class="profile">Profile</a></li>
      <li><a routerLink="register" routerLinkActive="active" class="register">Register User</a></li>
      <li><a routerLink="admin" routerLinkActive="active" class="admin">Admin</a></li>
    </ul>
    <div class="user-container">

      <button class="btn btn-link" id="user-panel-button" (click)="toggleUserPanel()">
        <ng-container *ngIf="currentUser.profilePicUrl; else avatarImage">
          <img ngSrc="{{currentUser.profilePicUrl}}" alt="Avatar" class="avatar" width="50" height="50">
        </ng-container>
        <ng-template #avatarImage>
          <img ngSrc="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar" width="50" height="50">
        </ng-template>
      </button>
      <!-- User Panel -->
      <div class="user-panel" *ngIf="isUserPanelOpen">
        <button class="close-button" (click)="closeUserPanel()">X</button>
        <h5>User Information</h5>
        <p><b>User ID:</b> {{currentUser.id}}</p>
        <p><b>User Name:</b> {{currentUser.username}}</p>
      </div>
    </div>

    <li><a routerLink="" routerLinkActive="active" class="logout" (click)="logout()">Logout</a></li>
  </nav>
</header>
