<nav>
  <span id="app-name">MeFIT</span>

  <div class="spacer"></div>
  <ul>
    <li *ngIf="!tokenSaved()"><a  routerLink="login" routerLinkActive="active" class="home">Home</a></li>
    <li><a routerLink="dashboard" routerLinkActive="active" class="dashboard">Dashboard</a></li>
    <li><a routerLink="program" routerLinkActive="active" class="fitness-content">Fitness Content</a></li>
    <li><a routerLink="profile" routerLinkActive="active" class="profile">Profile</a></li>
    <li><a routerLink="register" routerLinkActive="active" class="register">Register User</a></li>
  </ul>

  <li><a routerLink="" routerLinkActive="active" class="logout" (click)="logout()">Logout</a></li>
</nav>
