.form-container {
    display: flex;
    flex-direction: column;
}

.form-card {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    opacity: 0.9;
    margin-top: 2rem;
}

input {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: solid 2px;
    padding: 1rem;
    height: 2rem;
    background-color: aliceblue;
    
}

.row{
    display: flex;
    flex-direction: row;
}

.form-button {
    margin: auto;
    padding: 0.5rem;
}

p {
    margin: 0.5rem;

}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .check-text{
    color: crimson;
  }