.form-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 2rem;
}

.dashboard-item-container {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0.5rem;
}

.header-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.dashboard-item-container.pending.workout {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
}
.dashboard-item-container.pending.program {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
}

.dashboard-item-container.completed.workout {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
}
.dashboard-item-container.completed.program {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
}

.form-card {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    opacity: 0.9;
    margin-top: 2rem;
}

input {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    height: 2rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-button {
    margin: auto;
    padding: 0.5rem;
}

p {
    margin: 0.5rem;
    font-weight: bold;
}

.separator {
    border-top: 2px solid grey;
    margin-top: 0.5rem;
}