

.main-area {
    position: relative;
    min-width: 40%;
    min-height: 100vh;
}
  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
  .main {
    background-image: url('https://wallpapercave.com/wp/wp2639543.jpg');
    /* object-fit: contain; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
  }