.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture img {
  border-radius: 50%;
  margin: 30px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info h1 {
  font-size: 24px;
  margin: 0;
}
.user-details {
  font-size: 16px;
  margin: 5px 0;
}

.goal-history {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
.goal-history h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.goal-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #bdd7f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.goal-container p {
  margin: 5px 0;
}
.profile-history-container {
  margin-top: 2rem;
}
.profile-history-container > div {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}
.profile-history-container > div h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}
.profile-history-container > div p {
  margin: 5px 0;
}
.profile-history-container > div:hover {
  background-color: #e8e8e8;
  transition: background-color 0.3s ease;
}
.my-fitness-goal-history,
.completed-programs,
.completed-workouts{
  text-align: center;
  font-weight: bold;
}
.profile-info p {
  font-size: 16px;
  margin-left: 20px;
}
.profile-bio {
  display: flex;
  flex-direction: column; 
  justify-content: start;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-bio h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

label {
  display: flex;
  font-weight: bold;
  margin-top: 20px;
}

textarea {
  width: 100%;
  display: flex;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

input[type="number"],
input[type="file"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

.user-profile {
  flex: 70%;
  padding: 2rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto; /* Add scrollbars if content overflows */
  margin: 2rem auto 0;
  opacity: 0.9;
}

.user-settings {
  flex: 30%;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: auto; /* Add scrollbars if content overflows */
  margin: 20px;
}

.separator{
  margin: 10px;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
