<div class="card container">
    <div class="card-top-row row">
        <h2 class="user-name"><b>Name</b></h2>
    </div>
    <div class="card-main-body">
        <div class="row">
            <div class="img-container">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
            </div>
            <div class="user-info-container">
                <p>Weight</p>
                <p>Height</p>
            </div>
        </div>
    </div>
</div>

