.container {
  justify-content: center;
  width: 100%;

}
/*#userSettings form {*/
/*  display: flex;*/
/*  width: auto;*/
/*}*/
.toggle-button {
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

#height-weight-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; /* Adjust the gap as needed */
}
#height-weight-grid label {
  font-weight: bold;
}

#height-weight-grid input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.toggle-button.expanded {
  transform: rotate(90deg);
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-picture img {
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  flex-grow: 1;
}

.profile-info h1 {
  font-size: 24px;
}

.profile-info p {
  font-size: 16px;
}

.profile-bio h2 {
  font-size: 20px;
  margin-top: 20px;
}

.user-profile{
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 30px;
}

.user-settings{
  flex: 0 0 40%;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 30px;
}

.user-settings h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.form-text{
  margin-bottom: 20px
}

.form-group {
  width: 30%; /* Adjust width to your preference */
}
label {
  display: flex;
  font-weight: bold;
}

textarea,
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
