<div class="card container">
    <div class="card-top-row row">
        <h2 class="user-name"><b>{{currentUser.username}}</b></h2>
    </div>
    <div class="card-main-body">
        <div class="row">
            <div class="img-container">
                <img src={{currentUser.profilePicUrl}} alt="Avatar" class="avatar">
            </div>
            <div class="user-info-container">
                    <div class="user-bio-container">
                        <p><b>User bio</b></p>
                        <p>{{currentUser.bio}}</p>
                    </div>


                <div class="user-stats-container">
                    <p><b>User stats</b></p>
                    <p>Weight: {{ currentUser.weight }}</p>
                    <p>Height: {{ currentUser.length }}</p>
                </div>
                <div class="placeholder">Flytta då!</div>

            </div>
        </div>
    </div>
</div>

