
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px hsla(0, 1%, 38%, 0.1);
    opacity: 0.9;
}

.header{
    /* border: 2px solid black;*/
    margin: 2%; 
}

.attributes{
     border-top: 2px solid black;
    margin: 2%; 
}

.goal-attributes{
    /* border-bottom: 2px solid black;*/
    margin: 2%; 
}

.add-program-grid{
    /* border: 2px solid red;  */
    margin: 2%;
    display: grid;
    grid-template-columns: 50%, 50%;
}

.add-workout-grid{
    /* border: 2px solid green;*/
    margin: 2%; 
}

.workout-header{
    /* border: 2px solid black;*/
    margin: 2% 
}

.workout-attribute{
    /* border: 2px solid orchid;*/
    margin: 2%; 
}

.display-box{
    /* border: 2px solid yellow;*/
    margin: 2%; 
}

.add-exercise{
    /* border: 2px solid orange;*/
    margin: 2%; 
}

input{
    /* border-radius: 5px;*/
    height: 30px; 
    margin: 2%;
}

select{
    height: 40px;
    width: 30%;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 2%;
}
  
button:hover {
    background-color: #0056b3;
}

textarea{
    height: 100px;
    width: 600px;
    border-radius: 5px;
    margin: 2%;
}

.grid-item{
    /* border: 2px solid black; */
    margin: 2%;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px bold green;
    margin: 2%;
}

img{
    height: 50%;
    width: 50%;
    border-radius: 8px;
}

.included-exercises{
    grid-template-rows: auto;
}