
.container {
    margin: 2rem auto 0;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px hsla(0, 1%, 38%, 0.1);
    opacity: 0.9;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 1rem 2rem 0 0;
}

.column>label,
.column>input {
    margin: 0.5rem 0;
}

input {
    padding:0.5rem;
    width: 100%;
}
.attributes{
    display: flex;
    flex-direction: row;
}

hr {
    width: 100%;
    margin: 1rem 0.5rem;
}
.goal-attributes{
    margin: 2rem 0 0;
}

.add-program-container {
    display: flex;
    flex-direction: row;
}

.program-card,
.workout-card {
    margin: 1rem 1rem 0 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid lightgray;
}

.select-program-input,
.select-workout-input,
.exercise-dropdown {
    width: 100%;
}

.add-workout-container {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
}
.btn.row {
    justify-content: end;
}


.workout-header{
    margin-top: 0.5rem;
}



input{
    /* border-radius: 5px;*/
    height: 30px; 
}
details {
    margin: 0.5rem;
}

select{
    height: 40px;
    width: 30%;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
  
button:hover {
    background-color: #0056b3;
}

textarea{
    height: 100px;
    width: 600px;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 0.5rem;
}

.included-exercises{
    grid-template-rows: auto;
}