    <div class="container">
        <div class="header">
            <h1>You don't have a current goal &#10006;</h1>
            <h4>Please make one to get started!</h4>
        </div>
        <hr>
        <!-- Attributes for goal -->
        <div class="attributes">
            <div class="column">
                <label for="goalName">Name your goal: </label>
                <label for="startDate">Starting-date: </label>
                <label for="endDate">Ending-date: </label>
            </div>
            <div class="column">
                <input type="start" id="goalName" [(ngModel)]="goalName" name="goalName" required>
                <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" required>
                <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" required>
            </div>
        </div>  
        <hr>


        <!-- Add program -->
        <div class="add-program-container">
            <div class="column">
                <label for="program">Select programs: </label>
            </div>
            <div class="column">
                <select class="select-program-input" [(ngModel)]="selectedProgram" id="program" name="selected-program" required>
                    <option *ngFor="let program of programs" [ngValue]="program">{{program.name}}</option>
                </select>
            </div>
            <div *ngIf="selectedProgram != undefined" class="program-card">
                <p >{{selectedProgram.name}}</p>
                <p >{{selectedProgram.description}}</p>
                <p class= "image">
                    <img src="{{selectedProgram.imgUrl}}" alt="Picture for {{selectedProgram.name}}">
                </p>
                <div class="btn row">
                    <button (click)="addProgramToGoal()">Add program</button>
                </div>
            </div>
        </div>

        <!-- Add workouts -->
        <div class="add-workout-container">
            <div class="column">
                <label for="workout">Select workouts:</label>
            </div>
            <div class="column">
                <select class="select-workout-input" [(ngModel)]="selectedWorkout" id="workout" name="selected-workout" required>
                    <option *ngFor="let workout of workouts" [ngValue]="workout">{{workout.name}}</option>
                </select>
            </div>
            <div *ngIf="selectedWorkout != undefined" class="workout-card">
                <h3> {{selectedWorkout.name}}</h3>
                <p> {{selectedWorkout.description}}</p>
                <details>
                    <summary>Includes exercises:</summary>
                    <div *ngFor="let exercise of selectedWorkout.exercises">{{exercise.name}}</div>
                </details>
                <div class="btn row">
                    <button (click)="addWorkoutToGoal()">Add workout</button>
                </div>
            </div>
        </div>

        <hr>
        <!-- <div class="info-box">
            <h3>{{selectedProgram.name}}</h3>
            <p>{{selectedProgram.description}}</p>
            <img src="{{selectedProgram.imgUrl}}" alt="">
        </div> -->

        <!-- Displaying selected programs -->
        <div class="display-box">
            <h4>Your selected programs: </h4>
            <div class="grid">
                <div class="grid-item" *ngFor="let program of selectedPrograms">
                    <p>{{program.name}}</p>
                    <p>{{program.description}}</p>
                    <button class="remove-button" (click)="removeProgramFromGoal(program)">Remove program</button>
                </div>
            </div>
        </div>

        <!-- Displaying selected workouts -->
        <div class="display-box">
            <h4>Your selected workouts: </h4>
            <div class="grid">
                <div class="grid-item" *ngFor="let workout of selectedWorkouts">
                    <p>{{workout.name}}</p>
                    <p>{{workout.description}}</p>
                    <button class="remove-button" (click)="removeWorkoutFromGoal(workout)">Remove workout</button>
                </div>
            </div>
        </div>
        <div class="btn row">
            <button class="create-goal-button" (click)="createNewGoal()">Create Goal</button>
        </div>
        <!-- Dropdown to create custom workout-->
        <details>
            <summary>Create custom workout</summary>
            <h3 class="workout-header">Customize and create your own workout</h3>
        <!-- Attributes for new workout -->
        <div class="column">
            <!-- Workout-name -->
            <div class="row">
                <div class="column">
                    <label for="workoutName">Name your workout: </label>
                    <label for="workoutDescription">Describe your workout: </label>
                    <label for="exercise">Select exercises: </label>
                </div>
                <div class="column">
                    <input type="text" rows="10" id="workoutName" [(ngModel)]="workoutName" name="desc" required>
                    <input class="input-describe-workout" type="text" id="workout-description"
                    [(ngModel)]="workoutDescription" name="desc" required>
                    <select [(ngModel)]="selectedExercise" class="exercise-dropdown" name="selectedExercise" required>
                        <option *ngFor="let exercise of exercises" [ngValue]="exercise"> {{exercise.name}} </option>
                    </select>
                </div>
            </div>
        </div>
            <button (click)="addExerciseToWorkout()">Add to workout</button>
        

        <!-- Display selected exercises -->
        <div class="display-box">
            <h2>Your selected exercises: </h2>
            <div class="grid">
                <div class="grid-item" *ngFor="let exercise of selectedExercises">
                    <p>{{exercise.name}} </p>
                    <p>{{exercise.description}}</p>
                    <img src="{{exercise.imgUrl}}" alt="Picture for {{exercise.name}}">
                    <button class="remove-button" (click)="removeExerciseFromWorkout(exercise)">X</button>
                </div>
            </div>
        </div>
        <div class="row btn">
            <button (click)="createNewWorkout()">Create workout with exercises</button>
        </div>
            
        </details>
        

    </div>
